.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 24px;
  /* display: inline-block;  */
  list-style-type: none;
  gap: 18px;
}


@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}

/*
@media screen and (min-width: 320px) {
  .footer__links {
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .footer__links {
      margin: 0;
      margin-left: 0;
      display: inline-block;
  }
} */
