.intro__text {
  margin: 0;
  padding: 0;
  width: 47vw;
  /* padding-left: 11.5625vw; */
  padding-bottom: 2.578125vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 2.03125vw;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) {
  .intro__text {
      width: calc(100vw - 2*16px);
      font-size: 16px;
      line-height: 26px;
      padding-bottom: 34px;

  }
}

@media screen and (min-width: 768px) {
  .intro__text {
      width: calc(100vw - 2*24px);
      padding-bottom: 33px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
      width: calc(100vw - 48px - 286px);
      padding-left: 24px;

  }
}

@media screen and (min-width: 1280px) {
  .intro__text {
      width: calc(100vw - 148px - 442px);
      padding-left: 124px;
  }
}
