.content__smallwidth {
  max-width: calc(100% - 2*48px);
  margin: 0 auto 92px;
  padding: 0;
}


@media screen and (max-width: 1279px) {
  .content__smallwidth:nth-last-child(1){
    max-width: 100%;
  }
}

/* 768px */

@media screen and (max-width: 1023px) {
  .content__smallwidth {
    max-width: calc(100% - 2*24px);
    margin: 0 auto 88px;
  }

  .content__smallwidth:nth-last-child(1){
    max-width: 100%;
  }

}

/* 320px */
@media screen and (max-width: 767px) {
  .content__smallwidth {
    max-width: calc(100% - 2*16px);
    margin: 0 auto 66px;
  }

  .content__smallwidth:nth-last-child(1){
    max-width: 100%;
    margin: 0 auto 64px;
  }

  .content__smallwidth:nth-child(1) {
    max-width: calc(100% - 2*16px);
  }
}

